body {
  margin: 0;
  background-color: #191e39;
  color: white;
}

.homeImage {
  height: 100vh;
  background-image:linear-gradient(rgba(25, 30, 57, 0.8), rgba(25, 30, 57, 0.8)), url('https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2200&q=80');
}

h2{
  margin-top: 0px;
}

.whiteButton{
  color: white;
}

.dogPark {
  margin-top: 200px;
  width: 100vw;
  height: 100px;
  background-color: #989291;
}

@keyframes run {
  from {left: -15%;}
  to {left: 115%;}
}

.dogRun{
  position: relative;
  top: -30%;
  left: -15%;
  animation-name: run;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dog {
  transform: translate(-50%, -350px);
}

@keyframes dealBlink {
  0% {opacity: 0;}
  70% {opacity: 0;}
  71% {opacity: 1;}
  100% {opacity: 1;}
}

.deals0 {
  opacity: 1;
  position: relative;
  left: 0;
  transform: translate(-20px, 90px) rotate(21.8deg);
  color: #ff0080;
  font-family: 'Comic Sans MS';
  font-size: 3em;
  text-shadow: 2px 2px #ffff00;
  animation-name: dealBlink;
  animation-duration: 1.342s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
